.logo {
    display: block;
    margin: auto;
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    align-content: center;
width:20rem;
height: 60%vh;
opacity: 1;
animation: fadeOut 2s ease-in-out 2s forwards;


}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    animation: fadeIn 2s ease-in-out 4s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

.h-logo {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    width: 165px;
    height: 165px;
}

.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
}

.upload-area:hover {
    background-color: #f0f0f0;
}

.mi_camera {
    font-size: 48px;
    color: #888;
}

#image-upload {
    display: none;
}